$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin clearfix-micro() {
    & {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f6f6f;
  border-top: 5px solid #aaa;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.navigation {
    @include clearfix();

    margin-bottom: 60px;

    .nav-pills {
        li {
            a {
                color: #353535;
            }
        }

        li.active a {
            background-color: #eee;
        }
    }
}

.text-color-red {
    color: #db2d3e;
}

.text-color-aqua {
    color: #95d6ce;
}

.text-color-orange {
    color: #e6a83d;
}

a,
.text-color-light-blue {
    color: #91D0E6;
}

.intro {
    padding-bottom: 40px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;

    p {
        font-size: 1.5em;
        font-weight: 300;
    }
}

/* Supporting marketing content */
.marketing {
  margin: 30px 0;

  p + h4 {
    margin-top: 28px;
  }

  p {
      font-size: 1em;
  }

  .media {
      padding: 30px 0;
  }

  .media-img {
    img {
      width: 100px;
      height: 100px;
    }
  }
}

.media {
  display: flex;
  align-items: flex-start;

  ul {
      padding: 0 15px;
  }

  .media-img {
    margin-right: 1.5em;

    img {
      border-radius: 50%;
    }
  }

  .media-info {
    flex: 1;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
